head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title= title
	meta(name='description', content='Yunify, Living together made easy')
	meta(name='author', content='codability@gmail.com')

	//
		link(rel='alternate', href='/', id='desktop', media='only screen and (touch-enabled: 0)')
		link(rel='alternate', href='/mobile', id='mobile', media='only screen and (max-device-width: 640px)')
		link(rel='alternate', href='tablet.html', id='tablet', media='only screen and (min-device-width: 641px)')
		script(src='/common/js/lib/device.js')

	link(rel='shortcut icon', href='/common/ico/favicon.ico')
	link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/common/ico/apple-touch-icon-144-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/common/ico/apple-touch-icon-114-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/common/ico/apple-touch-icon-72-precomposed.png')
	link(rel='apple-touch-icon-precomposed', href='/common/ico/apple-touch-icon-57-precomposed.png')
