block scripts
	script(src='/common/js/lib/json2.js')
	script(src='/common/js/lib/jquery-1.7.2.min.js')
	script(src='/common/js/lib/underscore.min.js')
	script(src='/common/js/lib/knockout-2.1.0.min.js')

	script(src='/desktop/js/lib/bootstrap.min.js')
