#OS junk files
[Tt]humbs.db
*.DS_Store
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
