
extends ../layout

block content
	.page-header
		h1
			| Tasks&nbsp;
			small earn respect by completing them

	.row
		.span12
			section#todoapp
				header
					input#new-todo(type='text', data-bind='value: current, valueUpdate: \'afterkeydown\', enterKey: add', placeholder='What needs to be done?', autofocus='autofocus')

				section#main(data-bind='visible: tasks().length')
					#todo-list(data-bind='foreach: tasks')
						.sub_main.rounded(data-bind='css: { completed: completed, editing: editing }')
							.view(data-bind='event: { dblclick: $root.editItem }')
								input.toggle(type='checkbox', data-bind='checked: completed')
								label(data-bind='text: title')
								button.destroy(data-bind='click: $root.remove')
							input.edit(data-bind='value: title, valueUpdate: \'afterkeydown\', enterKey: $root.stopEditing, selectAndFocus: editing, event: { blur: $root.stopEditing }')

				footer(data-bind='visible: completedCount() || remainingCount()')
					.well
						span#todo-count
							strong(data-bind='text: remainingCount') 1
							|&nbsp;left

append scripts
	script(src='/socket.io/socket.io.js')
	script
		var groupId = !{JSON.stringify(user.group)};
	script(src='/js/trim.js')
	script(src='/js/enterKey.handler.knockout.js')
	script(src='/js/hasFocus.handler.knockout.js')
	script(src='/js/tasks.knockout.js')
