<div data-role="controlgroup">
	<a href="" data-role="button" data-status="Available" class="status <%= me.status === 'Available' ? 'ui-btn-active' : '' %>">Available</a>
	<a href="" data-role="button" data-status="Studying" class="status <%= me.status === 'Studying' ? 'ui-btn-active' : '' %>">Studying</a>
	<a href="" data-role="button" data-status="Busy" class="status <%= me.status === 'Busy' ? 'ui-btn-active' : '' %>">Busy</a>
	<a href="" data-role="button" data-status="Sleep" class="status <%= me.status === 'Sleep' ? 'ui-btn-active' : '' %>">Sleep</a>
	<a href="" data-role="button" data-status="Out" class="status <%= me.status === 'Out' ? 'ui-btn-active' : '' %>">Out</a>
</div>
