/* --------------------------------------------------------------------------
   Desktop Stylesheet
   @author Codability
   -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
   Embedded fonts
   -------------------------------------------------------------------------- */
*,
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: url('../img/background_noise.png') bottom left;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

.hr.top {
  margin-top: 24px;
}

.hr {
  display: block;
  clear: both;
  margin: 20px auto;
  width: 90%;
  height: 1px;
  background: #E4E4E4;
  background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
  background: -moz-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
  background: -ms-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
  background: -o-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
  background: linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
}

.hr .triangle {
  width: 11px;
  height: 11px;
  margin: 0 auto;
  position: relative;
  top: -4px;
  background: white;
  -webkit-box-shadow: -1px -1px 0 #CCC;
  -moz-box-shadow: -1px -1px 0 #ccc;
  -ms-box-shadow: -1px -1px 0 #ccc;
  -o-box-shadow: -1px -1px 0 #ccc;
  box-shadow: -1px -1px 0 #CCC;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --------------------------------------------------------------------------
   Header
   -------------------------------------------------------------------------- */

/* Header top image */
#header_image {
  position: relative;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 10);
  -ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, 10);
  -o-box-shadow: 0px 2px 5px rgba(0, 0, 0, 10);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 10);
  margin: 0 auto;
  padding: 0;
}

#header_image img {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

/* Navigation */
#header {
  position: relative;
  height: 55px;
  background: black;
  width: 100%;
  margin-top: -55px;
  opacity: 0.8;
}

#header_container nav {
  float: right;
}

#header a {
  text-decoration: none;
}


#header nav li {
  display: block;
  float: left;
}

#header nav li.nav_item a {
  height: 55px;
  display: block;
  padding: 0 25px;
  font-size: 16px;
  line-height: 55px;
  color: #fff;
}

#header nav li.nav_item a.sign_out,
#header nav li.nav_item a.sign_in:hover,
#header nav li.nav_item a:hover {
  color: #0a979e;
}

#header nav li.nav_item a.sign_in,
#header nav li.nav_item a.sign_out:hover {
  color: #fff;
}

/* --------------------------------------------------------------------------
   Home
   -------------------------------------------------------------------------- */

#home_roomies_title {
  text-align: center;
  font-size: 2em;
  height:60px;
  padding-top: 30px;
  line-height: 2em;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 20px;
}

#home_roomies {
  text-align: center;
}

.roomies_picture {
  width: 100px;
  height: 160px;
  position: relative;
  display: inline-block;
  margin: 0 15px 0 15px;
}

.roomies_name {
  margin-top: 110px;
  width: 100px;
  height: 20px;
  text-align: center;
  color: #666;
  font-size: 1.5em;
  text-transform: uppercase;
  float: left;
}

.roomies_picture img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #EFEFEF;
}
.left {
  text-align: left;
  margin: 10px;
}

.roomies_inset {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.6);
  -ms-box-shadow: inset 0 2px 5px rgba(0,0,0,0.6);
  -o-box-shadow: inset 0 2px 5px rgba(0,0,0,0.6);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.roomies_status {
  width: 100px;
  height: 10px;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  float: left;
  color: green;
}

/* --------------------------------------------------------------------------
   Profile
   -------------------------------------------------------------------------- */

#profile_header {
  text-align: center;
  font-size: 2em;
  height:40px;
  padding-top: 30px;
  line-height: 2em;
  text-transform: uppercase;
  color: #666;
  font-weight: 100;
}

#profile_picture {
  position: relative;
  display: inline-block;
  text-align: center;
  height: auto;
  padding: 0 20px 0 20px;
}

.profile_block {
  padding-top: 30px;
}

#profile_picture img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 180px;
}

.profile_header {
  margin-bottom: -10px;
  text-transform: uppercase;
  color: #0a979e;
  font-weight: 100;
}

#profile_points {
  margin: 0 20px 20px 20px;
  position: relative;
  text-align: center;
}

#profile_points p {
  padding-top: 5px;
  font-weight: 100;
  color:#666;
}

#profile_point_total {
  font-weight: bold;
  font-size: 4em;
  display: inline-block;
  color:#000!important;
}
#badge_unlocked img {
  width: 90px;
  position: relative;
}
#profile_hof {
  margin: 40px 20px 5px 20px;
  color: #0a979e;
  font-weight: bold;
  font-size: 1.5em;
}

#profile_group p{
  margin-left: 20px;
  margin-right: 20px;
}

#invited,
#create_group_button {
  margin: 20px;
}

.profile_group_name {
  font-size: 1.2em;
  color: #232323;
  font-weight: 100;
}

/* --------------------------------------------------------------------------
   Chat
   -------------------------------------------------------------------------- */

.messages {
  height: 400px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-left: 0px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 5px;
  overflow-y: scroll;
  background: whiteSmoke;
}

.message-wrapper {
  display: block;
  margin-bottom: 5px;
}

.message-wrapper .screen-name {
  padding: 5px 10px 5px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  display: inline-block;
  text-align: right;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  font-weight: bold;
  vertical-align: top;
}

.message-wrapper .message {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
  max-width: 400px;
  min-height: 18px;
  vertical-align: middle;
  background: #fff;
}

/* --------------------------------------------------------------------------
   Tasks
   -------------------------------------------------------------------------- */

.task {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  clear: both;
  margin: 0 0 5px 0;
}

.task button.destroy {
  float: right;
}

.task .editing {
  border-bottom: none;
  padding: 0;
}

.task .editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.task .editing .view {
  display: none;
}

.task .edit {
  display: none;
}

.task .toggle {
  border: none!important;
  box-shadow: none;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: auto 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.task .toggle:after {
  font-size: 18px;
  content: '✔';
  line-height: 43px; /* 40 + a couple of pixels visual adjustment */
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

.task .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

.task label {
  word-break: break-word;
  margin: 15px 15px 15px 60px;
  display: inline-block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

.task.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

.task .destroy {
  display: none;
  border: none!important;
  box-shadow: none;
  right: 10px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #555;
  background: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.task .destroy:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

.task .destroy:after {
  content: '✖';
}

.task:hover .destroy {
  display: block;
}

/* --------------------------------------------------------------------------
   Invite Search Dropdown
   -------------------------------------------------------------------------- */

.list-item {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.list-item img {
  padding: 0 5px 0 0;
  margin: 0;
}

/* --------------------------------------------------------------------------
   container
   -------------------------------------------------------------------------- */

.container {
  min-height: 850px;
  background: #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}


/* --------------------------------------------------------------------------
   footer
   -------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: 100px;
  background: #F8F8F8;
  width: 100%;
  padding-top: 40px;
}

.foot_links {
  margin: 20px 0 0 0;
  list-style: none;
  padding: 0 0 20px;
  text-align: center;
}

.foot_links li {
  display: inline;
  color: #d3d3d3;
  font-size: 13px;
  padding: 0 6px;
}

.foot_links li a {
  font-weight: normal;
  display: inline;
  color: #888a8d;
}

.foot_links .copyright_txt {
  clear: both;
  line-height: 22px;
  color: #646566;
  display: block;
  padding-top: 5px;
  font-size: 12px;
}

/* --------------------------------------------------------------------------
   rounded-box
   -------------------------------------------------------------------------- */

article {
  background: #426B92;
  color: #FFF;
  float: left;
  height: 208px;
  margin-left: 10px;
  width: 330px;
}

.rounded-box {
  border-radius: 6px;
  overflow: hidden;
  padding: 16px 20px;
}

.grey-box {
  background-color: #EDEEEE;
  color: #333;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.grey-box:hover {
  background-color: #E8E8E8;
}

/* --------------------------------------------------------------------------
   Media-Queries
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 1200px) {
  #dropdown_nav {
    display: none;
  }
 
  #header_container {
    position: relative;
    clear:both;
    width: 1170px;
    margin: 0 auto;
  }

  .footer .wrapper {
    width: 1170px;
    position: relative;
    clear: both;
    margin: 0 auto;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  #dropdown_nav {
    display: none;
  }
 
  #header_container {
    position: relative;
    clear:both;
    width: 980px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .control-group label {
    margin-left: 10px!important;
    display: block!important;
    width: 70px!important;
  }

  .controls {
    margin-left: 90px!important;
  }

  #dropdown_nav {
    display: none;
  }

  #header_container {
    position: relative;
    clear:both;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #header_container nav {
    display: none;
  }

  #dropdown_nav {
    display: block;
    position: relative;
    clear:both;
    max-width: 767px;
    margin: 0 auto;
    z-index: 100;
    padding-top: 10px;
  }

  #header,
  .container {
    margin-top: 0;
  }

  #header {
    height: 50px;
    opacity: 1;
    background: none;
  }

  #dropdown_button {
    width: 95%;
  }

  #dropdown_button_arrow {
    width: 5%;
  }

  .dropdown-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  #header_container nav {
    display: none;
  }

  #dropdown_nav {
    display: block;
    position: relative;
    clear:both;
    max-width: 479px;
    margin: 0 auto;
    z-index: 100;
    padding-top: 10px;
  }

  #header,
  .container {
    margin-top: 0;
  }

  #header {
    height: 50px;
    opacity: 1;
    background: none;
  }

  #dropdown_button {
    width: 90%;
  }

  #dropdown_button_arrow {
    width: 10%;
  }

  .dropdown-menu {
    width: 100%;
  }
}