extends ../layout

block content
	.page-header
		h1 Group
			small  browser
	.row
		.span3
			.well
				h6 Search
				.input-append
					input.input-small(type='text')
					button.btn(type='button')
						i.icon-search
		.span8.offset1
			- if (groups.length !== 0)
				each group in groups
					.rounded-box.grey-box(style='width: auto; margin-bottom: 10px; padding: 20px;')
						a.btn.pull-right(href='/groups/#{group._id}')
							i.i.icon-search
						h3 #{group.name}
						span.muted #{group.description}
			- else
				.alert.alert-info
					button.close(data-dismiss='alert') ×
					| No groups found :(
