html,
body {
  background: #F2F3F3;
}

#header {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  height: 43px;
  -moz-box-shadow: 0 0 20px #dddddd;
  -webkit-box-shadow: 0 0 20px #dddddd;
  box-shadow: 0 0 20px #dddddd;
  font-size: 0.92em;
  background: url('../img/header_noise.png') bottom left black;
  height: 55px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #fff;
  text-shadow: 1px 2px 0px #111;
}

.container,
#header_container {
  position: relative;
  clear: both;
  width: 988px;
  margin: 0 auto;
}

#header_container ul {
  padding: 0;
  margin: 0;
}

#header a {
  color: #EEE;
  text-decoration: none;
}

#header h1 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.55em;
}

#header h1 a {
  font-weight: normal;
}

#header .logo {
  float: left;
}

#header nav {
  float: right;
  margin-top: 11px;
}

#header nav li span {
  color: #BBB;
}

#header nav li {
  display: block;
  float: left;
}

#header h1 a {
  line-height: 30px;
}

#header h1 a:active {
  line-height: 31px;
}

#header nav {
  margin-top: 0;
  border-left: 1px solid #111111;
}

#header nav li.nav_item a {
  height: 54px;
  border-left: 1px solid #444444;
  border-right: 1px solid #111111;
  display: block;
  padding: 0 25px;
  font-size: 16px;
  line-height: 54px;
}

#header nav li.nav_item a:hover {
  background: url('../img/lighten_hover.png');
  color: #fff;
  line-height: 52px;
  transition: all 0.5s linear;
}

#header nav li.nav_item a:active {
  background: url('../img/darken_hover.png');
  line-height: 54px;
}

/* === Codertag === */

li.codertag {
  border-left: 1px solid #444444;
  padding-left: 15px;
  height: 54px;
}

li.codertag a#codertag:hover {
  background: url('../img/lighten_hover.png');
  color: #fff;
}

li.codertag a#codertag:active {
  background: url('../img/darken_hover.png');
  color: #fff;
  margin-top: 5px;
  -webkit-box-shadow: 0 1px 0 0 #444;
  -moz-box-shadow: 0 1px 0 0 #444;
  box-shadow: 0 1px 0 0 #444;
}

#codertag {
  display: block;
  margin-top: 4px;
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 7px;
  height: 29px;
  /* 55 - 10 - 2 - 14*/
  -webkit-box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
  -moz-box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
  box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
  overflow: visible;
}

#codertag img {
  width: 29px;
  height: 29px;
  float: left;
  margin-right: 10px;
  border: 1px solid #111;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
  -moz-box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
  box-shadow: 0 1px 0 0 #444, inset 0 1px 0 0 #444;
}

#codertag h2 {
  line-height: 0.92em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  font-size: 100%;
  color: white;
  margin: 1px 0 0 0;
}

#codertag .account_info {
  float: right;
}

#codertag span {
  font-weight: normal;
  font-size: 10px;
}

#codertag .score {
  font-weight: bold;
  margin-right: 4px;
}

#codertag .exercises {
  background: url('../img/icn_book.png') 0 1px no-repeat;
  padding-left: 12px;
}

#codertag .achievements {
  background: url('../img/icn_trophy.png') 0 2px no-repeat;
  margin-left: 3px;
  padding-left: 14px;
}

/* === End Codertag */

#header nav li .sign_out, #header nav li .sign_in, #header nav li .sign_up {
  color: #aaa;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 55px;
  padding-left: 20px;
}

#header nav li .sign_out:hover, #header nav li .sign_in:hover, #header nav li .sign_up:hover {
  color: #ddd;
}

#header nav li .sign_out:active, #header nav li .sign_in:active, #header nav li .sign_up:active {
  line-height: 56px;
}

/* -- Browse Groups ---------- */
.sub_main {
  overflow: hidden;
  width: 960px;
  margin: auto;
  background: #fff;
  line-height: 21px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .2);
}
.sub_main img {
  margin-right: 15px;
}
.rounded {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* -- endgroup -- */

/* -- @group TASKS ---------- */
section#todoapp input#new-todo {
  display: inline-block;
  position: relative;
  padding: 20px;
  font-size: 2em;
  width: 100%;
}

section#todoapp .sub_main {
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%;
}

section#todoapp .sub_main button.destroy {
  float: right;
}

section#todoapp .sub_main.editing {
  border-bottom: none;
  padding: 0;
}

section#todoapp .sub_main.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

section#todoapp .sub_main.editing .view {
  display: none;
}

section#todoapp .sub_main .edit {
  display: none;
}

section#todoapp .sub_main .toggle {
  border: none!important;
  box-shadow: none;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: auto 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

section#todoapp .sub_main .toggle:after {
  font-size: 18px;
  content: '✔';
  line-height: 43px; /* 40 + a couple of pixels visual adjustment */
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

section#todoapp .sub_main .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

section#todoapp .sub_main label {
  word-break: break-word;
  margin: 15px 15px 15px 60px;
  display: inline-block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

section#todoapp .sub_main.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}


label[for='toggle-all'] {
  display: none;
}
#toggle-all {
  border: none!important;
  box-shadow: none;
  text-align: center;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#toggle-all:before {
  content: '»';
  font-size: 28px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}
#toggle-all:checked:before {
  color: #737373;
}

#clear-completed {
  float: right;
}

section#todoapp .sub_main .destroy {
  display: none;
  border: none!important;
  box-shadow: none;
  right: 10px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #555;
  background: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
section#todoapp .sub_main .destroy:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
section#todoapp .sub_main .destroy:after {
  content: '✖';
}
section#todoapp .sub_main:hover .destroy {
  display: block;
}

/* -- endgroup -- */

/* -- @group chat ---------- */
.messages {
  height: 400px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-left: 0px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 5px;
  overflow-y: scroll;
  background: whiteSmoke;
}

.message-wrapper {
  display: block;
  margin-bottom: 5px;
}

.message-wrapper .screen-name {
  padding: 5px 10px 5px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #E6E6E6 #E6E6E6 #BFBFBF;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  display: inline-block;
  text-align: right;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  font-weight: bold;
  vertical-align: top;
}

.message-wrapper .message {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
  max-width: 400px;
  min-height: 18px;
  vertical-align: middle;
  background: #fff;
}

/* -- endgroup -- */
