
extends ../layout

block content
	.row
		.span12
			.sub_main.rounded(style='padding: 15px; margin-bottom: 30px;')
				- if (!everyauth.loggedIn)
					h1 Yunify doesn't know you yet!
					h3 Please login using your facebook account. It's quick and easy!
					a.btn.btn-primary(href='/auth/facebook') Sign in with facebook
				- else
					h1 Welcome, #{user.fullName}!
					h2.muted Nice to see you again ;)
	.row
		.span4
				h2 Standout
				p
					| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			.span4
				h2 Collaborate
				p
					| Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			.span4
				h2 Be Inspired
				p
					| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
