
extends ../layout

block content
	.well
		- if (!everyauth.loggedIn)
			h1 Yunify doesn't know you yet!
			h3 Please login using your facebook account. It's quick and easy!
			a.btn.btn-primary(href='/auth/facebook') Sign in with facebook
		- else
			h2 Authenticated
			#user-id Logged in with `user.id` #{user.id} - aka `everyauth.user.id` #{everyauth.user.id}
			- if (everyauth.facebook)
				h3 Facebook User Data
				p= JSON.stringify(everyauth.facebook.user)
