extends ../layouts/layout-mobile

block content
	h1 Welkom, #{user.fullName}

	ul(data-role='listview', data-inset='true')
		li
			a(href='') My Tasks
		li
			a(href='') My Roomies
		li
			a(href='') My Badges

append scripts
