extends ../layouts/layout-mobile

block content
	div#profile

append scripts
	script(src='/mobile/js/utils.js')
	script(src='/mobile/js/models/profilemodel.js')
	script(src='/mobile/js/views/profileview.js')
