extends ../layouts/layout-mobile

block content

append scripts
	script(src='/mobile/js/models/usermodel.js')
	script(src='/mobile/js/views/userview.js')
	script(src='/mobile/js/utils.js')
	script(src='/mobile/js/routers/userrouter.js')
