<img class="user-picture" src="https://graph.facebook.com/<%= fb.id %>/picture?type=large" alt="<%= fullName %>" />
<div class="user-details">
  <h1><%= fullName %></h1>
  <p><strong>Bio:</strong> <em><%= bio %></em></p>
  <p><strong>Gender:</strong> <%= fb.gender %></p>
  <p><strong>Status:</strong> <%= status %></p>
</div>

<ul id="user-details-list" data-role="listview" data-inset="true" class="action-list">
	<li data-role="list-divider"><h1>Info</h1></li>
	<li><a href="mailto:<%= email %>"><h3>Email</h3><p><%= email %></p></a></li>
	<li><a href="https://twitter.com/#!/search/realtime/<%= twitter %>"><h3>Twitter</h3><p>@<%= twitter %></p></a></li>
	<li><a href="<%= fb.link %>"><h3>Facebook</h3><p><%= fb.link %></p></a></li>
</ul>

<ul id="user-awards-list" data-role="listview" data-inset="true" class="action-list">
	<li data-role="list-divider"><h1>Awards</h1></li>
	<% if ( achievements.unlocked && achievements.unlocked.length > 0) { %>
		<% _.each( achievements.unlocked , function( award, i ) { %>
		<li>
			<img class="badge" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/102/completed-journey-into-mobile-b3e446afa712d0f6cea7aafdb3159df1.png" alt="<%= award.name %>" class="ui-li-thumb" />
			<h3 class="ui-li-heading"><%= award.name %></h4>
			<p class="ui-li-desc">
				<%= award.desc %><br/>
				<small>&rarr; Awarded at: <%= award.awarded_at %></small>
			</p>
		</li>
		<% }); %>
	<% } else { %>
		<li>
			<h3 class="ui-li-heading"><%= fullName %> hasn't earned any awards yet.</h3>
		</li>
	<% } %>
</ul>
