!!! 5
html(lang='en')
	head
		include ../includes/head
		block styles
			include ../includes/styles-desktop

	body
		#header_image
			img(src='/Desktop/img/header_home.png', alt='Header home')
		header#header
			#header_container
				nav
					ul
						- if (everyauth.loggedIn)
							li.nav_item
								a(href='/') Home
							li.nav_item
								a(href='/me') Me
							li.nav_item
								a(href='/tasks') Tasks
							li.nav_item
								a(href='/roomies') Roomies
							li.nav_item
								a(href='/groups') Groups
							li.nav_item
								a.sign_out(href='/logout') Sign Out
						- else
							li.nav_item
								a.sign_in(href='/auth/facebook') Sign in

		.container
			block content
		footer.footer
			.wrapper
				ul.foot_links
					li
						a(href='/about') About
					li |
					li
						a(href='/team') Team
					li |
					li
						a(href='/team') Contact
					li.copyright_txt
						| Codability &copy; 2012

		block scripts
			include ../includes/scripts-desktop
