extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			.title_page About
			.title_header_under Why we made yunify?
			.hr
	.row-fluid#about_text
		.span11
			p We believe that we can stimulate communication & collaboration between students by offering them a new and innovative way of interacting and working together. Not many tools on the market today offer a tool that manages and supports this goal, that is how we will stand out and make a difference.
			p Unlike many normal web applications we will offer a new social experience for one specific group of people, students who live and work together.
			p How did we achieve these goals?
			ul
				li	Real-time interaction between students;
				li	Awarding social and collaborative behavior;
				li	New level of social experience;
				li	Innovative way of using the application.
			p Yunify was made in function of an internship, this is not a commercial application.

			.small Copyright (c) 2012 
			.small Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the 'Software'), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
			.small The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
			.small THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.