extends ../layouts/layout-desktop

block content
	.page-header
		h1 Chat
	.row
		.span3
			.well
				h6 Roomies
				section.chat-users
					ol(data-bind='foreach: users')
						li
							span(data-bind='text: username')
		.span8.offset1
			.row
				section.messages(data-bind='foreach: messages')
						.message-wrapper
							span.muted.pull-right(data-bind='text: timestamp')
							.screen-name
								span(data-bind='text: author')
							.message
								span(data-bind='text: text')
			.row
				form.well.form-inline
					input.span7(data-bind='value: current, valueUpdate: \'afterkeydown\', enterKey: addMessage', type='text', placeholder='Type your message', autofocus='autofocus')
					button.btn.btn-primary.pull-right(data-bind='click: addMessage') Send

append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/common/js/lib/xdate.min.js')
	script(src='/common/js/enterKey.handler.knockout.js')
	script
		var username = !{JSON.stringify(user.fullName)};
	script(src='/desktop/js/chat.knockout.js')
