extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			.title_page Group browser
			.title_header_under Search for other groups!
			.hr
	.row-fluid.top_block
		.span12
			.input-append#group_search
				input.input-small(type='text', data-bind='value: searchquery')
				button.btn.btn(type='button')
					i.icon-search
	.row-fluid
		.span12
			.alert.alert-block.fade.in#group_alert(data-bind='visible: !groups().length')
				button.close(data-dismiss='alert')×
				h4.alert-heading No groups found!
				p We didn't find any groups matching the criteria.
			.groups(data-bind='foreach: groups')
				.well
					a.search_button.btn.pull-right(data-bind='attr: { href: $data.link }', title='view')
						i.icon-search
					h3.title_header_under(data-bind='text: $data.name')
					em.muted(data-bind='text: $data.description')

append scripts
	script(src='/desktop/js/groups.knockout.js')
