extends ../layouts/layout-desktop

block content
	.row
		.span12
			div.pull-right(style='margin: 30px 0px 50px;')
				h1(style='font-size: 5em;') Yunify
				h2.muted(style='font-size: 1.8em; padding-top: 10px;') Living together made easy.
	.row
		.span2
			a.rounded-box.grey-box(href='#')
				h3 Standout
				p
					| Donec id elit non mi porta gravida at eget metus.
			a.rounded-box.grey-box(href='#')
				h3 Collaborate
				p
					| Donec id elit non mi porta gravida at eget metus.
		.span5
			article.rounded-box
				h2 Standout
				p
					| Donec id elit non mi porta gravida at eget metus.
					| Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
					| ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
					| euismod. Donec sed odio dui.
		.span5
			article.rounded-box
				h2 Try the new Wall feature!
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					| consequat.
				ul
					li
						a(href='/wall') Launch
