extends ../layouts/layout-desktop

block content
	.row
		.span12
			.page-header
				h1 Tasks
					.label.pull-right(data-bind='text: remainingCount') 1
			input.well(type='text', style='width: 90%;', data-bind='value: current, valueUpdate: \'afterkeydown\', enterKey: add', placeholder='What needs to be done?', autofocus='autofocus')
			section#main(data-bind='visible: tasks().length')
				#todo-list(data-bind='foreach: tasks', style='overflow: hidden; width: 100%;')
					.task(data-bind='css: { completed: completed, editing: editing }')
						.view(data-bind='event: { dblclick: $root.editItem }')
							input.toggle(type='checkbox', data-bind='checked: completed')
							input.toggle-important(type='checkbox', data-bind='checked: important')
							label(data-bind='text: title')
							button.destroy(data-bind='click: $root.remove')
						input.edit(data-bind='value: title, valueUpdate: \'afterkeydown\', enterKey: $root.stopEditing, selectAndFocus: editing, event: { blur: $root.stopEditing }')

append scripts
	script(src='/socket.io/socket.io.js')
	script
		var groupId = !{JSON.stringify(user.group)};
	script(src='/common/js/trim.js')
	script(src='/common/js/enterKey.handler.knockout.js')
	script(src='/common/js/hasFocus.handler.knockout.js')
	script(src='/desktop/js/tasks.knockout.js')
