extends ../layouts/layout-desktop

block content
	.row-fluid
		.span12
			.title_page The Team
			.title_header_under Who made this?
			.hr
	.row-fluid.top_block
		.span3.team_blocks
			img(src='/Desktop/img/Nielsen.png', alt='Nielsen Ramon', style='margin: 0px;')
		.span9.team_blocks
			h4 Nielsen Ramon
			p Epic one-liner: This looks like crap, let me start over.
			p Website: 
				a(href="http://nielsenramon.be/") http://nielsenramon.be/

			p Nielsen his biggest passion is design, development, games and movies. His experience in design started when he was 16 years old when he started experimenting with Photoshop. Since then he never quitted making little pieces of work. Although he is still learning a lot, Nielsen is pretty sure design is his way to go

	.row-fluid
		.span3.team_blocks
			img(src='/Desktop/img/Wouter.png', alt='Nielsen Ramon', style='margin: 0px;')
		.span9.team_blocks
			h4 Wouter Willaert
			p Epic one-liner: This will be night work.
			p Website: 
				a(href="http://wouterwillaert.be/") http://wouterwillaert.be/

			p Wouter his biggest passion is Lorum ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
