!!! 5
html(lang='en')
head
	meta(charset='utf-8')
	title Wall / Yunify
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='Yunify, Living together made easy')
	link(rel='stylesheet', href='/wall/css/wall.css')
body
	#section_home.slide_page(style='left: 0px;')
		#home_top_title
			p
				span.bold_text Hello&nbsp;
				| #{user.fullName}.
		hr
		#home_tumb_text
			p
				| What would you like to&nbsp;
				span.yellow_text do
				| ?
		#wrapper_thumbs
			a.thumb(onclick='window.goToTaskScreen();')
				img(src='/wall/img/tile_tasks.png', alt='alt')
			a.thumb(onclick='window.goToFacebookScreen();')
				img(src='/wall/img/tile_facebook.png', alt='alt')
			a.thumb(onclick='window.goToTwitterScreen();')
				img(src='/wall/img/tile_twitter.png', alt='alt')
			a.thumb(onclick='window.goToPhotoboothScreen();')
				img(src='/wall/img/tile_photobooth.png', alt='alt')
		hr
		#home_bottom_text
			p
				span#big_text Right now&nbsp;
				| it's&nbsp;
				span.yellow_text.jclock
				| &nbsp;and&nbsp;
				span#weather.yellow_text
				| &nbsp;outside!
	#section_tasks.slide_page(style='left: 1920px;')
		#task_chalkboard
			span#task_title All our tasks!
			#todo-list(data-bind='foreach: uncompletedTasks()')
				p(data-bind='css: {yellow_text:important}')
					//ko if:important
					| *&nbsp;
					//
						/ko
					//ko ifnot:important
					| -&nbsp;
					//
						/ko
					span(data-bind='text:title')
			#todo_list_completed(data-bind='foreach: completedTasks()')
				p(data-bind='css: {yellow_text:important}')
					//ko if:important
					| *&nbsp;
					//
						/ko
					//ko ifnot:important
					| -&nbsp;
					//
						/ko
					span(data-bind='text:title')
		#task_sidepanel
			hr
			#task_sidepanel_herounit
				p TO
				p.yellow_text.bold_text DO
			hr
			p#task_sidepanel_info By completing tasks you can earn&nbsp;
				span.yellow_text points&nbsp;
				| and&nbsp;
				span.yellow_text badges
				| . Help out your friends and become the&nbsp;
				span.yellow_text major&nbsp;
				| of your student house! Your current stats are:
			p#task_sidepanel_owner
				span.yellow_text.bold_text(style='display: inline-block;') 250 points&nbsp;
				span(style='display: inline-block;') and
				span.yellow_text.bold_text(style='display: inline-block;') 15 tasks&nbsp;
				span(style='display: inline-block;') completed!
			hr
			p#task_sidepanel_footnote Nothing to do?&nbsp;
				span.yellow_text Swipe it!
	#section_facebook.slide_page(style='left: 3840px;')
		#facebook_top_title
			img(src='/wall/img/facebook_logo.png', alt='alt')
			p Facebook wall
		hr
		.jcarousel-skin-default
			#jcarousel.jcarousel
				ul#facebook_block_wrapper(data-bind='foreach: posts')
					//ko if: isStatus
					li.facebook_block
						.facebook_content_top
							p
								span.facebook_from(data-bind='text:From')
								span.yellow_text &nbsp;posted...
						.facebook_content_left
							img(data-bind='attr: { src: FromPicture }', alt='alt')
						.facebook_content_right
							span.facebook_text(data-bind='text:Message')
						span.facebook_underscript
							span(data-bind='text:Created')
							| &nbsp;&#8226;&nbsp;
							span(data-bind='text:Comments')
							| &nbsp;comments &#8226;&nbsp;
							span(data-bind='text:Likes')
							| &nbsp;likes
					//
						/ko
					//ko if: isPhoto
					li.facebook_block
						.facebook_content_top
							p
								span.facebook_from(data-bind='text:From')
								span.yellow_text &nbsp;posted...
						.facebook_content_left
							img(data-bind='attr: { src: FromPicture }', alt='alt')
						.facebook_content_right
							span.facebook_photo
								span(data-bind='text:Story')
								img(data-bind='attr: { src: Photo }', alt='alt')
						span.facebook_underscript
							span(data-bind='text:Created')
							| &nbsp;&#8226;&nbsp;
							span(data-bind='text:Comments')
							| &nbsp;comments &#8226;&nbsp;
							span(data-bind='text:Likes')
							| &nbsp;likes
					//
						/ko
					//ko if: isLink
					li.facebook_block
						.facebook_content_top
							p
								span.facebook_from(data-bind='text:From')
								span.yellow_text &nbsp;posted...
						.facebook_content_left
							img(data-bind='attr: { src: FromPicture }', alt='alt')
						.facebook_content_right
							span.link_title(data-bind='text:Message')
							span.link_block
								img(data-bind='attr: { src: LinkImage }', alt='alt')
								a(data-bind='text:LinkName')
								br
								span(data-bind='text:LinkDescription')
						span.facebook_underscript
							span(data-bind='text:Created')
							| &nbsp;&#8226;&nbsp;
							span(data-bind='text:Comments')
							| &nbsp;comments &#8226;&nbsp;
							span(data-bind='text:Likes')
							| &nbsp;likes
					//
						/ko
	#section_twitter.slide_page(style='left: 5760px;')
		#twitter_left_title
			img(src='/wall/img/twitter_logo.png', alt='alt')
			p.bold_text Recent
				span.yellow_text &nbsp;tweets
		#twitter_tweets(data-bind='foreach: tweets')
			.twitter_block
				img(data-bind='attr: { src: profile_image_url }', alt='alt')
				p.twitter_text
					span.title_twitter(data-bind='text: from_user')
					span.text_twitter(data-bind='html: text')
					span.created_twitter(data-bind='text: created_at')
	#section_photobooth.slide_page(style='left: 7680px;')
		#camera_wrapper
			#camera_focus
				#activateRGB
				#camera_stream
					img#RGBstream(width='730', height='570')
			#camera_side
				p#hover_effect
					span.yellow_text push&nbsp;
					| me!
					a(onclick='window.takePicture();')
						img(src='/wall/img/camera_push.png', alt='alt')
		#photobooth_side
			hr
			#photobooth_title_block
				p#photobooth_title_subscript welcome to the
				#photobooth_herounit
					p.yellow_text.bold_text PHOTO
					p.bold_text BOOTH
			hr
			p#photobooth_info
				span.yellow_text Express yourself,
				span Show how you look like,
				span.yellow_text Joke around or
				span do your own thing!
				span.yellow_text Then share it on Facebook
				span with your friends!
	script(src='/common/js/lib/jquery/jquery-1.7.2.min.js')
	script(src='/common/js/lib/underscore/underscore.min.js')
	script(src='/common/js/lib/knockout/knockout-2.1.0.min.js')
	script(src='/wall/js/lib/jquery.jclock.js')
	script(src='/wall/js/lib/jquery.simpleWeather-2.0.1.min.js')
	script(src='/wall/js/lib/kinect.js')
	script(src='/wall/js/lib/jquery.slider.js')
	script(src='/wall/js/lib/jquery.jcarousel.autoscroll.js')
	script(src='/wall/js/wall.kinect.js')
	script(src='/wall/js/wall.utils.js')
	script(src='/socket.io/socket.io.js')
	script
		var fb_access_token = !{JSON.stringify(everyauth.facebook.accessToken)};
		var groupId = !{JSON.stringify(user.group)};
	script(src='/wall/js/wall.knockout.js')